.header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom: solid gray 1px;
  background-color: whitesmoke;
}

.header .title {
  font-size: xx-large;
  font-weight: bold;
}

/* header buttons */
.header .main-buttonSet {
  display: flex;
  width: 25%;
}

.header .main-buttonSet button {
  width: 100px;
  height: 40px;
  padding: 0px;

  border: solid black 0.5px;
  background-color: #cccccbee;
  border-radius: 5px;

  color: black;
  font-weight: bold;
  text-align: center;
}
.header .main-buttonSet button:hover {
  background-color: rgb(182, 182, 182);
}

/* body for timers */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
